{% extends "base.html" %}

{% block content %}
<p>Dev Q and A is an open-source Question and Answer forum for developers of all levels (aspiring developers, CS students, bootcamp students, self-learners, professional developers, etc).</p>
<p>If you have any questions related to a technology stack, programming, or anything development or computer science related, free free to post your answer here.</p>
<p>If you have any feature requests or bug reports, please reach out to me on Twitter via <a href="https://twitter.com/gabrielwongau" target="_blank">@gabrielwongau</a>.</p>
{% endblock %}